body{
    background-color: rgb(190, 141, 5);
    width: 80%;
    height: 80%;

}

.pooja{
    background-color: rgb(249, 223, 108);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    padding-left: 15px;
    padding-top: 2px;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.sona{
    background-color: rgb(249, 223, 108);
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    padding-left: 15px;
    padding-top: 2px;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.umesh{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-left: 30%;
}
.prasad{
    font-size:xx-large;
    font-style: normal;

    color: rgb(64, 3, 121);
}

.icon {
    color: rgb(237, 212, 212);
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
.table{
    margin-left: 13%;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
    border: 2px solid black;
}
tbody{
    border: 1px solid black;
}